:root {
  --primary-dark: #4D9078;
  --primary: #52c59d;
  --primary-light: #3cf7b5;
  --primary-text: #ffffff;
  --primary-background: #f78154;
  --primary-background-dark: #e35822;
}

html {
  background-color: var(--primary-background);
}

h1 {
  font-size: 24px;
  margin: 0;
  color: var(--primary-text);
  background-color: var(--primary-background-dark);
  padding: 8px;
}

h2{
  font-size: 18px;
  color: var(--primary-text);
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
}

.player {
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-text);
  color: var(--primary-text);
}

.score {
  padding: 1px;
  font-size: small;
  font-weight: bold;
  background-color: var(--primary-background-dark);
}

.round-bnt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--primary-text);
}

.round-bnt:hover {
  background-color: var(--primary-light);
}
